body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.list {
  background: #fff;
  border: 1px solid #999;
  text-align: center;
  padding: 0.67em;
}

.card {
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
